*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}
header {
    width: 100%;
    height: 140px;
    background-color:rgba(4,0,0,0.4);
  
}
.cab_nav{
    width: 100%;
    padding: 20px;
    text-align: right;
    position: fixed;
    top: 0px;
}
.cab_nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    color: seashell;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    cursor: pointer;
    transform: translateY(-70px);
}
.cab_nav ul li a{
    text-decoration: none;
    color: snow;
}
.nomb_logo{
    width: 50px;
    padding: 0px 20px;
    float: left;
    position: relative;
    top: 5%;
    left: 2%;
    color: rgb(255, 254, 187);
    font-size: 30px;
}
.logo_img{
    width: 80px;
    position: absolute 50px;
    transform: translateX(-1450%) translateY(-13%);
}
.contenedor{
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translateX(-50%) translateY(-50);
    padding: 25px 100px;
    border: solid;
    background-color: rgba(0, 39, 68, 0.253);
}
.titulo_cont{
font-size: 40px;
text-align: center;
padding: 20px 10px;
color: rgb(224, 255, 83);
}
.parrafo_cont{
    color: floralwhite;
    font-size: 20px;
    text text-align: justify;
}

.video{
    position: fixed;
    min-width: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
}

.foot {
    background-color:rgba(4,0,0,0.6);
    margin-top: 41%;
    width: 100%;
    padding: 20px 0px;
    position: relative;
}
.foot_p{
    color: white;
    text-align: center;
}
.marca{
    background-color: rgba(255, 217, 0, 0.308);
}

.imagen_fondo{
    position: fixed;
    top: 40%;
    left: 50%;
    -o-transform: translateX(-50%);
    -o-transform: translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.formulario_ing{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    box-shadow: 0 0 20px 1px black;
    position: relative;
    background-color: rgba(255, 255, 255, 0.219);
  
}

.info_h2{
    text-align: center;
    margin-top: 0;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.formula, .acceder{
    display: block;
    padding: 20px;
    width: 100%;
    margin: 30px 0px;
    font-size: 20px;
    border: none;
}

.acceder{
    background:-webkit-gradient(linear, 80% 20%, 20% 93%, from(#D2B000), to(#1100FF));
    border: 0;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 0;
    opacity: 0.7;
    transition: 0.8s ease-out;
    color: white;
}
.enviar:hover{
    opacity: 1;
    border-radius: 0;
    background:-webkit-gradient(linear, 80% 20%, 20% 100%, from(#0000FF), to(#FFD200));
}